<%= render partial: "shared/heading", locals: { title: 'Reservations', description: 'Manage your bookings.' } %>

<div class="max-w-4xl mx-auto sm:px-0 px-4 space-y-8">
  <% if @upcoming_bookings.present? %>
    <div>
      <h1 class="text-2xl font-medium font-heading mb-2">Upcoming</h1>

      <% @upcoming_bookings.each do |booking| %>
        <%= render "reservation", booking: booking %>
      <% end %>
    </div>
  <% end %>

  <% if @past_bookings.present? %>
    <div>
      <h1 class="text-2xl font-heading font-medium mb-2">Past</h1>

      <% @past_bookings.each do |booking| %>
        <%= render "reservation", booking: booking, past: true %>
      <% end %>
    </div>
  <% end %>
</div>
