<% meta title: Rails.application.credentials.company_name, description: "Work, work out, eat, repeat." %>

<div class="max-w-3xl mx-auto pt-24 space-y-2">
  <h1 class="text-5xl font-bold"><%= Rails.application.credentials.company_name %></h1>
  <h2 class="text-xl">Do your best work</h2>
  <div>
    <%= link_to 'Book Now', book_path, class: 'bg-blue-500 px-4 py-2 text-white text-lg rounded-md' %>
  </div>
</div>
