<%= render partial: "shared/heading", locals: { title: 'Thank you!', description: "Stay tuned for an email soon with next steps about your stay." } %>

<div class="max-w-3xl mx-auto text-center sm:text-4xl text-2xl font-heading px-4">
  <%= image_tag "thanks.gif",  class:"block h-full w-full rounded-xl object-cover mb-4" %>
  Redirecting to dashboard...
</div>

<script type="text/javascript">
// optional: put conversion tracking script here

setTimeout(function(){
  window.location.href = '<%= dashboard_index_path %>';
}, 3000)
</script>
