<p>Host,</p>

<p>Guest with email <%= @booking.user.email %> just booked <%= @booking.nights %> nights, from <%= @booking.start_date %> to <%= @booking.end_date %>.</p>

<p>Reach out to them and do whatever else may be necessary, for example blocking off external calendars.</p>

<p>WhiteBot</p>
