<%= render partial: "shared/heading", locals: { title: 'My Account' } %>

<div class="max-w-xl mx-auto sm:py-12 sm:px-0 px-4">
  <%= form_for(current_user, url: account_path(current_user.id), method: 'patch', html: {class: "mt-8", autocomplete: 'off'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: current_user %>

    <div>
      <div class="mb-5">
        <label for="email" class="block text-sm font-heading pl-5 font-medium text-gray-900">Email</label>
        <input type="text" required="true" name="user[email]" id="user_email" class="block w-full border border-gray-300 rounded-full px-3 py-4 text-gray-900 placeholder-gray-500 focus:ring-1 focus:ring-gray-900 focus:border-gray-900 sm:text-sm" value="<%= current_user.email %>" placeholder="monk@gmail.com">
      </div>

      <div class="mb-8">
        <label for="password" class="block text-sm font-heading pl-5 font-medium text-gray-900">Password</label>
        <input type="password" autocomplete="new-password" name="user[password]" id="user_password" class="block w-full border border-gray-300 rounded-full px-3 py-4 text-gray-900 placeholder-gray-500 focus:ring-1 focus:ring-gray-900 focus:border-gray-900 sm:text-sm">
      </div>

      <button type="submit" data-turbo="false" class="relative cursor-pointer w-full px-10 py-4 mb-10 flex items-center justify-center text-lg font-medium bg-gray-900 text-gray-100 hover:bg-gray-100 border border-gray-900 hover:text-gray-900 rounded-full transition ease-in-out duration-200 font-heading">

          <!-- Heroicon name: solid/lock-closed -->
          <svg class="h-5 w-5 mr-2 mb-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
          </svg>

        Save
      </button>
    </div>
  <% end %>
</div>
