.simple-calendar {
  table {
    font-family: 'Josefin Slab';
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border-radius: 10px;
    border-spacing: 0;
    border: 1px solid #111827;
    border-collapse: separate;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }

  tr {
    border: 1px solid #11827;
    border-radius: 10px;
    border-collapse: collapse;
  }

  th {
    border: 1px solid #11827;
    background-color: #111827;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    border-collapse: collapse;
    border-bottom: 1px solid #111827;
    border-right: 0.5px solid #111827;
    border-left: 0.5px solid #111827;
    box-sizing: border-box;
    text-align: left;
  }

  td {
    border-collapse: collapse;
    padding: 8px;
    vertical-align: top;
    font-weight: 600;
    border: 1px solid #111827;
    border-top-color: #111827;
    border-top-style: solid;
    border-top-width: 0.5px;
    border-right-color: #111827;
    border-right-style: solid;
    border-right-width: 0.5px;
    border-bottom-color: #111827;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-left-color: #111827;
    border-left-style: solid;
    border-left-width: 0.5px;

  }

  .calendar-heading nav {
    display: inline-block;
  }

  .day {
    height: 90px;
    font-size: 0.8rem;
  }

  .day.future:not(.has-events) {
    cursor: pointer;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #9ca3af;
  }

  .past {
    background: #e5e7eb;
  }
  .future {}

  .start-date {}

  .prev-month {
    background: #e5e7eb;
  }
  .next-month {
    background: #e5e7eb;
  }
  .current-month {}

  .has-events {
    background: #e5ddda; /* brand-sky */
  }
}
